<!--queuetube/main_app/templates/dashboard.html-->

{% extends 'base.html' %} {% block content %}

<div class="main-content-container">
  <div class="custom-container">
    <div class="custom-text">
      <h1 class="jumbotron-heading">{{ user.username }}'s Playlists</h1>
      <p class="lead text-muted">
        Manage your playlists and add new videos to share your favorite moments!
        <br />
        <a href="{% url 'create_playlist' %}" class="btn custom-btn-black"
          >Create a new Playlist</a
        >
      </p>
    </div>
  </div>

  <div class="container custom-playlist-container">
    {% for playlist in playlists %}
    <div class="playlist-card">
      <h2 style="text-decoration: none">
        <a
          href="{% url 'detail_playlist' playlist.id %}"
          style="text-decoration: none"
          >{{ playlist.title }}</a
        >
        <a
          href="{% url 'delete_playlist' playlist.id %}"
          class="btn custom-btn-black"
          >Delete</a
        >
        <a
          href="{% url 'update_playlist' playlist.id %}"
          class="btn custom-btn-black"
          >Edit</a
        >
        <a href="{% url 'add_video' playlist.id %}" class="btn custom-btn-black"
          >Add Video</a
        >
      </h2>
      <div class="row">
        {% for video in playlist.video_set.all %}
        <div class="col-md-4 mt-3">
          <div class="card video-card mb-4 shadow-sm">
            <iframe
              width="100%"
              height="225"
              src="https://www.youtube.com/embed/{{ video.youtube_id }}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
