/* queuetube/main_app/static/style.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #e0e3eb;
  font-size: 17px;
  color: #3b386d;
  font-weight: medium;
}

.btn-enter {
  background: #d4d0f0;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.playlist-card,
.video-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.playlist-card {
  padding: 15px;
}

.video-card iframe {
  border-radius: 10px 10px 0 0;
}

.video-card .card-body {
  padding: 10px;
}

.custom-btn-black {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.custom-btn-black:hover {
  background-color: #333;
  border-color: #333;
}

.small-title {
  font-size: 1.25rem;
}

.custom-image {
  max-width: 100%;
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.custom-text {
  flex: 1 1 300px;
  margin-right: 20px;
}

.custom-image-container {
  flex: 1 1 300px;
  max-width: 40%;
}

.main-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  max-width: 80%;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.custom-text,
.custom-image-container {
  flex: 1;
  min-width: 0;
}

.custom-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.main-content-container,
.container.custom-playlist-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  max-width: 80%;
}

.video-card {
  height: 300px;
  overflow: hidden;
}

.video-card iframe {
  height: 100%;
}

.custom-playlist-container h1 {
  font-size: 60x;
  text-align: left;
}

.small-title {
  color: #3b386d;
  font-size: 60x;
  text-align: left;
}

.playlist-card a {
  font-size: 1.5rem;
  color: #4a90e2;
  text-decoration: none;
}

.playlist-card a:hover {
  text-decoration: underline;
  color: #3b386d;
}

.playlist-card h2 > a:first-of-type {
  font-size: 1.5rem;
  color: #4a90e2;
  text-decoration: none;
}

.playlist-card h2 > a:first-of-type:hover {
  text-decoration: underline;
  color: #3b386d;
}

.custom-btn-black {
  background-color: #000;
  color: #fff;
  border-color: #000;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.custom-btn-black:hover {
  background-color: #333;
  border-color: #333;
}
